@media(max-width:460px) {
    .subscribe-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        padding: 5px;
        font-family: "Poppins", sans-serif;
    }
    .sub-image-wrap img{
        width: 239px;
        height: 262px;
    }
    .sub-text-wrap{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 8px;
    }
    .sub-text-wrap h2{
        color: #2C3F9D;
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
    }
    .sub-text-wrap p{
        font-weight: 400;
        color: #111111;
        font-size: 14px;
        line-height: 21px;
        width: 100%;
        padding: 15px;
    }

}