@media(max-width:460px) {
    .smallBottle-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: "Poppins", sans-serif;
        margin-top: 24px;

    }

    .smallBottle-head {
        display: flex;
        align-items: center;
        justify-content: space-between;  /* Ensures spacing */
        width: 100%;
        padding: 16px 24px;
        background-color: #F9F9F9;
        position: relative;  /* Helps in absolute positioning */
    }
    
    .smallBottle-head img {
        width: 30px;
        height: 30px;
        position: absolute;
        left: 24px;  /* Aligns to the left */
    }
    
    .smallBottle-head h1 {
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        text-align: center;
        flex: 1; /* Makes sure h1 takes available space */
        text-align: center;
    }
    

    .smallBottle-banner {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 12px;
        position: relative;
    }

    .smallBottle-banner img {
        width: 100%;
        height: 287px;
        
    }
    .smallBottle-banner button{
        position: absolute;
        bottom: 46px;
        right: 63px;
        z-index: 1000;
        background-color: #2C3F9D;
        font-size: 14px;
        color: #FBFF00;
        font-weight: 700;
        line-height: 21px;
        width: 180px;
        height: 38px;
        border-radius: 50px;
        border: none;
    }
}